body{
    color:black;
    background-color:rgba(61, 38, 130, 0.366);
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 1rem;
}

.container {
    max-width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}